/CanchaNoRegistradaException.class
/CanchaNoReservadaException.class
/CapacidadMaximaAlcanzadaException.class
/CodigoAfiliadoDuplicadoException.class
/DniExistenteException.class
/HorarioOcupadoException.class
/NumeroDeCanchaDuplicadoException.class
/PersonaNoAfiliadaException.class
